
local.properties
.idea/workspace.xml
.idea/caches/build_file_checksums.ser
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/6.1.1/fileHashes/fileHashes.bin
.gradle/6.1.1/executionHistory/executionHistory.lock
.gradle/6.1.1/executionHistory/executionHistory.bin
